*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info
*.sql.gz
.cache
.project
.idea
.DS_Store
.git/
.vagrant/
__pycache__
Dockerfile
Pipfile
Pipfile.lock
.pre-commit-config.yaml
README.md
**/migrations/*
!**/migrations/__init__.py
media/*
